@model DoGiaDung_TuanKiet.Models.Mau

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Thêm màu mới</h2>
            <p>
                <input type="submit" value="Thêm" class="btn btn-warning" />
                <a href="@Url.Action("Index")" class="btn btn-primary">Quay lại</a>
            </p>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Tên màu
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.TenMau,  new { @class = "form-control",@rows=1  })
                @Html.ValidationMessageFor(model => model.TenMau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mã màu (bắt buộc)
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MaMau, new { @class = "form-control",@rows=1  })
                @Html.ValidationMessageFor(model => model.MaMau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ảnh minh họa
            <div class="col-md-10">
                <input type="file" name="Anh" id="Anh" />
                @Html.ValidationMessageFor(model => model.Anh, "", new { @class = "text-danger" })
            </div>
        </div>

        
    </div>
}

<style>
    .input, select, textarea {
        max-width: 1000px;
    }
</style>