@model DoGiaDung_TuanKiet.Models.LoaiSanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Bạn có chắc chắn muốn xóa loại sản phẩm này?</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-dark" />
            <a href="@Url.Action("Index")" class="btn btn-primary">Quay lại</a>
        </div>
    }

</div>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="~/Image/@Model.Anh" alt="Hình ảnh" style="max-width: 400px; max-height: 400px; border: 1px solid #000;" />
        </dd>
        <dt>
            Tên loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiSanPham)
        </dd>

        <dt>
            Mã loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoaiSanPham)
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>

    
</div>

